  /* * {
        border: 1px solid #f00;
     } */

@font-face {
  font-family: "Gotham Pro Light";
  src: url("../fonts/GothamPro-Light.eot");
  src: url("../fonts/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro Black";
  src: url("../fonts/GothamPro-Black.eot");
  src: url("../fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
  font-family: "Gotham Pro Light", sans-serif;
  background: #161616;
  color: #fff;
  max-width: 1920px;    
  padding-top: 57px;
  margin: 0 auto;
  position: relative;
}

.nav {
  height: 171px;
}

.nav__padd {
  padding-right: 60px;
}

.nav__mail {
  padding-left: 75px;
  padding-right: 40px;
}

.main, .who, .why, .consultation, .program, .req, .lector, .resume, .prices, .questions, .reviews, .contact, .main__price {
  padding-left: 175px;
  padding-right: 175px;
}

.logo-DVFU {
  width: 80px;
  height: 50px;
}


.why {
  padding-top: 300px;
}

.main__price {
  margin-top: 100px;
}

.main__price h5 {
  font-weight: bold;
  font-size: 55px;
  text-transform: uppercase;
}

.why h1 {
  padding-left: 45%;
  padding-bottom: 110px;
}

h1 {
  font-family: "Gotham Pro Black", sans-serif;
  font-size: 60px;
}

h2, h3, h4, h5, h6 {
  font-family: "Gotham Pro Light", sans-serif;
  font-size: 25px;

}

.main__title {
  font-size: 60px;
}

.main__text {
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 50px;
  font-size: 25px;
}

.main__start {
  padding-top: 0;
  margin: 0;
}


.main__for-whom {
  margin-top: 100px;
}
.main__padd {
  padding-top: 25px;
  margin: 0;
}

.main__title2 {  
  background-color: #383838;
  width: 100%;
  height: 120px;
  border-radius: 60px;
  font-size: 25px;
  
}

.main__title2__text {
  margin: 23px auto;
  text-align: center;
  margin-bottom: -34px;
}

.main__title2__title {
  margin: 0;
  text-align: center;
  font-size: 20px;
}

.main__title2 b {
  font-family: "Gotham Pro Black", sans-serif;
  font-size: 25px;
}

.less {
  margin-top: 15px;
  text-align: center;
}

.less .price__money {
  font-size: 48px;
  padding-bottom: 0;
  margin: 0;
}

.diplom {
  margin-top: 25px;
  text-transform: uppercase;
}

.online {
  margin-top: 0;
  font-weight: bold;
}

.for-whom__padd {
  padding-top: 76px;
  font-size: 20px;
  text-transform: uppercase;
}

.for-whom__N {
  font-size: 50px;
  font-weight:bold;
}

.btn {
  font-family: "Gotham Pro Black", sans-serif;
  font-size: 20px;
  background: #0062C8;
  color: #fff;
  display: flex;
  width: 290px;
  height: 68px;
  padding: 20px 70px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 60px;  
  text-transform: uppercase;
  transition: all 0.4s ease;
}

.btn__main {  
  width: 100%;
  height: 68px;  
}

.btn-o {
  font-family: "Gotham Pro Light", sans-serif;
  font-weight: bold;
  font-size: 16px;  
  background: #fff;
  color: #000;
  display: flex;
}

.price__btn {
  margin: auto;
  width: 100%;
}

.hero {
  background: url("../img/hero_test.png") no-repeat right top;
  position: absolute;
  background-size: 50%;
  width: 1600px;
  height: 1376px; 
}

.hero__xs {
  display: none;
  background: url("../img/hero_test.png") no-repeat right top;
  position: absolute;
  background-size: 55%;
  width: 1694px;
  height: 1376px; 
}

.main__hero {
  padding-bottom: 140px;
}

.hand {
  background: url("../img/hand.png") no-repeat right top;
  position: absolute;
  width: 354px;
  height: 364px;
  left: 0;
}

.hand__xs {
  background: url("../img/hand.png") no-repeat right top;
  position: absolute;
  width: 183px;
  height: 364px;
  left: 0;
  background-size: contain;
  display: none;
}

.price__text {
  text-transform: uppercase;
  font-size: 25px;
  padding-bottom: 35px;
}

.price__title {
  font-size: 50px;
  font-weight: bold;
}

.main__row__padd {
  padding-top: 100px;
  padding-left: 200px;
}

/* .price__arrow__padd {
  align-items: center;
} */

.whom {
  background: url("../img/for__whom.png") no-repeat right top;
  position: absolute;
  right: 0;
  width: 543px;
  height: 735px;
}

.row__size {
  width: 100%;
}

.row__size .col-11 {
  margin: auto;
}

.whom__xs {
  background: url("../img/for__whom.png") no-repeat right top;
  position: absolute;
  right: 0;
  width: 543px;
  height: 735px;
  display: none;
}


.img__why {
  width: 83px;
  height: 83px;
}

.phone {
  background: url("../img/phone.png") no-repeat left top;
  position: absolute;
  width: 831px;
  height: 937px;
  left: 0;
}

.phone__xs {
  background: url("../img/phone.png") no-repeat left top;
  position: absolute;
  width: 831px;
  height: 937px;
  left: 0;
  display: none;
  background-size: contain;
}

.why__header {
  font-family: "Gotham Pro Black", sans-serif;
  font-size: 25px;
  padding-left: 70px;
}

.why__plus {  
  display: contents;
}

.why-row {
  margin-left: 45%;
  padding-bottom: 75px;
}

.why__intro {
  font-family: "Gotham Pro Light", sans-serif;
  font-size: 20px;
}

.blue__line {
  background: url("../img/blue__line.png") no-repeat center center;
  position: absolute;
  width: 1920px;
  height: 542px;
  left: 0;
}

.consultation__padd {
  padding-top: 250px;
  font-size: 50px;
  font-weight: bold;
}

.con__padd {
  padding-top: 280px;
  padding-left: 100px;
}

.con__btn {
  font-weight: normal;
  font-size: 25px;
  width: 615px;
  height: 94px;
  padding: 20px 70px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 60px;
  font-weight: 700;
  gap: 10px;
}

.program {
  padding-top: 230px;
}

.program p {
  font-family: "Gotham Pro Black", sans-serif;
  font-size: 25px;
}

.btn-program {
  font-weight: normal;
  font-size: 20px;
  width: 500px;
  height: 68px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 60px;
  font-weight: 700;
  gap: 10px;
}

.program-btn__padd {
  padding-top: 80px;
  padding-bottom: 200px;
}

.lock__left {
  background: url("../img/locks__left.png") no-repeat left top;
  position: absolute;
  width: 440px;
  height: 527px;
  background-size: contain;
}

.col_xs {
  display: none;
}

.req__text {
  font-family: "Gotham Pro Light", sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.req__title {
  font-size: 15px;
}

.border-w {
  border-radius: 30px;
  padding-top: 20px;
  padding-left: 30px;
}

.border-os {
  width: 480px;
  height: 280px;
}

.border-hdd {
  width: 235px;
  height: 143px;
}

.border-ram {
  width: 235px;
  height: 119px;
}

.border-cpu {
  width: 477px;
  height: 143px;
}

.border-vm {
  width: 477px;
  height: 119px;
}

.border-po {
  width: 1220px;
  height: 250px;
}

.hdd, .cpu, .tth {
  padding-bottom: 20px;
}

.hdd, .ram {
  padding-right: 15px;
}

.hdd, .ram{
  padding-left: 15px;
}

.lector {
  padding-top: 160px;
  padding-bottom: 120px;
}


.lector__text {
  font-family: "Gotham Pro Black", sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding-top: 50px;
}

.lector__title {
  font-family: "Gotham Pro Light", sans-serif;
  font-size: 20px;
}

.hero__2 {
  background: url('../img/hero2.png') no-repeat left top;
  width: 640px;
  height: 701px;
  left: 0;
}

.hero__2__small {
  display: none;
  background: url('../img/hero2.png') no-repeat left top;
  width: 177px;
  height: 210px;
  left: 0;
}

.resume__con {
  padding-top: 170px;
}

.resume {
  padding-bottom: 240px;
}

.resume__padd {
  padding-top: 76px;
  font-weight: bold;
}

.resume__resume {
  font-size: 30px;
}

.line {
  width: 600px;
}

.resume__text {
  font-size: 25px;
}

.col__price {
  padding-bottom: 50px;
}

.price__form {
  font-family: "Gotham Pro light", sans-serif;
  font-size: 25px;
  background: #0062C8;
  display: flex;
  width: 792px;
  height: 651px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;  
  text-transform: uppercase;
}


.price__money {
  text-align: center;
  padding-bottom: 30px;
}

.price__pay {
  padding-bottom: 45px;
}

.btn__price {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  width: 500px;
  height: 94px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.price__line {
  padding-top: 100px;
  background: url("../img/price__line.png") no-repeat;
  position: absolute;
  width: 1870px;
  height: 1080px;
  left: 0;
}

.query {
  padding-top: 150px;
  padding-bottom: 60px;
}


.query__padd{
  padding-bottom: 25px;
}

.questions__1{
  padding-bottom: 60px;
}

.questions__text {
  text-decoration: none;
  font-size: 25px;
  color: #FFF;
}

.questions__border {
  border-radius: 30px;
  padding: 30px 0 30px 0;
}

.collaps__questions__border {
  padding-top: 30px;
}

.wrap {
  padding-right: 25px;
  color: #FFF;
}

.arrow-down {
  width: 100%;
}

.active .arrow-down:first-of-type {
  transform: scale(1,-1);
  transition: all 0.4s ease;
}

.arrow-down:last-of-type {
  transform: scale(1,1);
  transition: all 0.4s ease;
}

.phone__clear {
  background: url("../img/phone_clear.png") no-repeat left top;
  position: absolute;
  width: 831px;
  height: 937px;
}
.phone__clear__xs {
  display: none;
  background: url("../img/phone_clear.png") no-repeat left top;
  position: absolute;
  width: 831px;
  height: 937px;
}

.be-static {
  position: static;
}

.lock__right {
  background: url("../img/locks__right.png") no-repeat right top;
  position: absolute;
  right: 0;
  width: 537px;
  height: 527px;
}

.contacts {
  padding-top: 420px;
  padding-left: 100px;
}



.carousel {
  padding-top: 60px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
.carousel__list {
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 300px;
  justify-content: center;
  perspective: 300px;
}
.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0px;
  width: 840px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  position: absolute;
  transition: all 0.3s ease-in;
}
.carousel__item:nth-child(1) {
  background: linear-gradient(45deg, #0062C8 0%, #0062C8 100%);
}
.carousel__item:nth-child(2) {
  background: linear-gradient(45deg, #0062C8 0%, #0062C8 100%);
}
.carousel__item:nth-child(3) {
  background: linear-gradient(45deg, #0062C8 0%, #0062C8 100%);
}
.carousel__item:nth-child(4) {
  background: linear-gradient(45deg, #0062C8 0%, #0062C8 100%);
}
.carousel__item:nth-child(5) {
  background: linear-gradient(45deg, #0062C8 0%, #0062C8 100%);
}
.carousel__item[data-pos="0"] {
  z-index: 5;
}
.carousel__item[data-pos="-1"], .carousel__item[data-pos="1"] {
  opacity: 0.7;
  filter: blur(1px) grayscale(10%);
}
.carousel__item[data-pos="-1"] {
  transform: translateX(-10%) scale(0.9);
  z-index: 4;
}
.carousel__item[data-pos="1"] {
  transform: translateX(10%) scale(0.9);
  z-index: 4;
}
.carousel__item[data-pos="-2"], .carousel__item[data-pos="2"] {
  opacity: 0.4;
  filter: blur(3px) grayscale(20%);
}
.carousel__item[data-pos="-2"] {
  transform: translateX(-20%) scale(0.8);
  z-index: 3;
}
.carousel__item[data-pos="2"] {
  transform: translateX(20%) scale(0.8);
  z-index: 3;
}

.carousel__item p {
  font-size: 20px;
}

.contact-form .form-field {  
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  background-color: rgb(0, 0, 0, 0);
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #fff;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #FFF;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  display: none;
}

.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #656565;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, 
  -webkit-transform .2s ease-in-out;
}

.contacts__text {
  color: #656565;
  padding-top: 40px;
}

.contacts__text a {
  color: #fff;
}


.end {
  padding-top: 150px;
}

.courses, .end {
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 25px;
}

.footers {
  height: 100%;
  padding: 0 40px 0 40px;
  background-color: #656565;
  
}

.footers a {  
  color: #FFF;
  text-decoration: none;
}

.footers__title {
  text-align: left;
}

.footers__text{
  text-align: end;
}

/* modal */

.modal-dialog {
  width: 50% !important;
  --bs-modal-width: none;
}

.modal-content {
  background-color: #0062C8;
  border-radius: 60px !important;
  text-align: center;
}

.modal-body {
  padding: 10%;
}

.modal-body .lable__modal {
  color: #FFF;
}

.modal-body .contacts__text {
  color: #FFF;
}
/*# sourceMappingURL=style.css.map */
