@font-face {
  font-family: "Gotham Pro Light";
  src: url("../fonts/GothamPro-Light.eot");
  src: url("../fonts/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro Black";
  src: url("../fonts/GothamPro-Black.eot");
  src: url("../fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Gotham Pro Light", sans-serif;
  background: #161616;
  color: #fff;
  max-width: 1920px;
  margin: 0 auto;
}

.nav {  
  display: flex;  
  padding-top: min(57px);
  padding-left: min(40px);
  padding-right: min(40px);
  padding-bottom: min(114px);
}

.nav__padd {
  padding-right: 60px;
}

.nav__mail {
  padding-right: 40px;
}

.main {
  padding-left: 175px;
  padding-right: 175px;
}

.who, .why, .consultation, .program {
  padding-left: 175px;
  padding-right: 175px;
}

.why {
  padding-top: 210px;
}

.why h1 {
  padding-bottom: 110px;
}

h1 {
  font-family: "Gotham Pro Black", sans-serif;
  font-size: 60px;
}

h2, h3, h4, h5, h6 {
  font-family: "Gotham Pro Light", sans-serif;
  font-size: 25px;

}

.main__title {
  font-size: 60px;
}

.main__text {
  padding-top: 190px;
  padding-bottom: 50px;
  font-size: 25px;
}

.main__start {
  padding-top: 140px;
}

.main__padd {
  padding-top: 334px;
  padding-right: 20px;
}

.main__title2 {
  font-size: 25px;  
  background-color: #383838;
  padding: 20px 70px;  
  width: 600px;
  height: 120px;
  border-radius: 60px;
  flex-shrink: 0;  
  line-height: 132%; /* 33px */
  letter-spacing: -0.125px;
  font-size: 25px;
  
}

.main__title2 b {
  font-family: "Gotham Pro Black", sans-serif;
  font-size: 25px;
}

.main__for-whom {
  padding-top: 224px;
}

.for-whom__padd {
  padding-top: 76px;
  font-size: 20px;
  text-transform: uppercase;
}

.for-whom__N {
  font-size: 50px;
  font-weight:bold;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  font-family: "Gotham Pro Black", sans-serif;
  font-size: 20px;
  background: #0062C8;
  color: #fff;
  display: flex;
  width: 290px;
  height: 68px;
  padding: 20px 70px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 60px;  
  text-transform: uppercase;
  transition: all 0.4s ease;
}

.btn-o {
  font-family: "Gotham Pro Light", sans-serif;
  font-size: 20px;  
  background: #fff;
  color: #000;
  display: flex;
}

.hero {
  background: url("../img/hero.svg") no-repeat right top;
  width: 125%;
  height: 100%; 
}
#fish {padding: 0px, 175px, 60px, 899px; position:relative}

.main__hero {
  padding-bottom: 140px;
}

.main__price {
  padding-top: 90px;
}

.hand {
  background: url("../img/hand.png") no-repeat left top;
  position: absolute;
  width: 354px;
  height: 364px;
  top: 995px;
}

.price {
  background: url("../img/price2.png") no-repeat center;
  width: 1596px;
  height: 399px;
}

.whom {
  background: url("../img/for__whom.png") no-repeat right top;
  position: absolute;
  width: 543px;
  height: 735px;
  top: 1734px;
}

.phone {
  background: url("../img/phone.png") no-repeat left top;
  position: absolute;
  width: 831px;
  height: 937px;
  top: 2300px;
}

.why__header {
  font-family: "Gotham Pro Black", sans-serif;
  font-size: 25px;
}

.why__plus {
  width: 83px;
  height: 83px;
  padding-right: 170px;
}

.why-row {
  padding-bottom: 75px;
}

.why__intro {
  font-size: 20px;
}

.blue__line {
  background: url("../img/blue__line.png") no-repeat center center;
  position: absolute;
  width: 1920px;
  height: 542px;
  top: 3435px;
}

.consultation__padd {
  padding-top: 110px;
  font-size: 50px;
  font-weight: bold;
}

.con__padd {
  padding-top: 160px;
  padding-left: 120px;
}

.con__btn {
  font-weight: normal;
  font-size: 25px;
  width: 615px;
  height: 94px;
  padding: 20px 70px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 60px;
  font-weight: 700;
  gap: 10px;
}

.program {
  padding-top: 230px;
}

.program p {
  font-family: "Gotham Pro Black", sans-serif;
  font-size: 25px;
}

.btn-program {
  font-weight: normal;
  font-size: 20px;
  width: 500px;
  height: 68px;
  /* padding: 20px 40px; */
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 60px;
  font-weight: 700;
  gap: 10px;
}

.program-btn__padd {
  padding-top: 80px;
  padding-bottom: 200px;
}

.lock__left {
  background: url("../img/locks__left.png") no-repeat left top;
  position: absolute;
  width: 537px;
  height: 527px;
  top: 6100px;
}

/*# sourceMappingURL=style.css.map */
